# Directorios y archivos generados por Node
/node_modules
/package-lock.json

# Archivos de caché del SO
.DS_Store

# 🚨 CLAVE DE SEGURIDAD MÁXIMA (NUNCA SUBIR A GITHUB)
# Esto ignora el archivo de credenciales de Firebase Admin SDK.
backend/adminsdk.json

# Archivos de carga de imágenes
/backend/uploads