# Archivos de configuración (¡MUY IMPORTANTE!)
.env
backend/.env

# Dependencias (No se suben porque Render las instala solo)
node_modules/
backend/node_modules/
frontend/node_modules/

# Archivos del sistema y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist/
build/

# Archivos de Firebase (opcional, si no quieres compartir tu llave de admin)
backend/adminsdk.json