body {
  font-family: "Poppins", sans-serif;
  background-color: #F2F4F7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  padding-top: 55px;
  /* Espacio para el header fijo */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(17, 17, 17);
  color: rgb(237, 237, 237);
  padding: 0.5rem 1rem;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: "Anton", sans-serif;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  flex-shrink: 0;
  letter-spacing: 0.1rem;
}

header nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

#auth-wrapper {
  width: 180px;
  /* Espacio reservado */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  margin-right: 1.5rem;
}

/* Estilos para el nuevo botón de inicio de sesión */
.btn-inicio-sesion,
.btn-UsuarioNombre {
  width: 170px;
  /* Ancho bloqueado */
  height: 40px;
  /* Altura bloqueada */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-inicio-sesion:hover,
.btn-UsuarioNombre:hover {
  background-color: white;
  color: #0ccc12;
  cursor: pointer;
  border-color: #0ccc12;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  width: auto;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fcfbfb;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 2px;
  transition: transform 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #F2F4F7;
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
  transform: translateY(-5px);
}

nav ul li a:hover::after {
  transform: translateY(3px);
  bottom: 5px;
}


/* MENU DESPLEGABLE */
.perfil-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1100;
  right: 0;
  top: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.dropdown-content a {
  color: #4a004a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover { background-color: #eee; }

.show { display: block; }


